/*------------------------------App------------------------------------*/
.App {
   transition: all 0.5s;
   width: 100%;
   height: 100%;
}

.coverApp::before {
    content: '';
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, .75);
    transition: all 0.5s ease-in-out;
}

.erase {
    height: 0px !important;
    transition: height 1.2s !important;
}

.showNavbar {
    height: 8.5vh;
    transition: height 1.2s ease-out;
    transition-delay: 1.2s;
}

/*----------------------------LeftNavbar----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Rubik');

.LeftNavbar {
    position: fixed;
    background: #F4F7F6;
    color: #1b1b1b;
    width: 300px;
    height: 100vh;
    top: 0;
    left: -300px;
    border-right: solid 0.2px rgb(61, 61, 61);
    font-family: 'Rubik', sans-serif;
    overflow: scroll;
}

.content > div {
    font-size: 20px;
    width: 100%;
    height: 90px;
    padding: 20px 30px;
    border-bottom: solid 0.1px rgb(216, 215, 215);
}
.content > div:hover {
    background-color: rgb(255, 255, 255);
}

.content > .controller {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 13px;
    height: 8.5vh;
    align-items: center;
}

.content > .controller > * {
    margin: 0;
}

.content > div:not(.controller) > * {
    margin: 10px 0;
    display: block;
}

.content > div > * {
    color: rgb(49, 49, 49);
    cursor: pointer;
}
.content > div > *:hover {
    color: rgb(160, 160, 160);
    text-decoration: none;
}

.content > .controller > .btn-close {
    background-color: transparent;
    border: none;
    padding-right: 30px;
}

.content > .controller > .btn-close::before {
    content: '';
    position: absolute;
    width: 23px;
    height: 3px;
    background-color: rgb(43, 43, 43);
    transform: rotate(45deg);
    left: 265px;
    top: 29px;
}
.content > .controller > .btn-close::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 3px;
    background-color: rgb(46, 45, 45);
    transform: rotate(135deg);
    left: 265px;
    top: 29px;
}


/*-----------------------------------About---------------------------*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah');


.About {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display:none;
    padding: 7% 26% 10% 10%;
    font-family: 'Gloria Hallelujah', sans-serif;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.About.show {
    opacity: 1;
}

.About > *{
    display: inline;
}

.About > h1 {
    font-size: 80px;
}

.About > p {
    font-size: 60px;
}

@media only screen and (max-width: 459px) {
    .About {
        width: 60px;
        padding: 0;
        overflow-wrap: break-word;
    }
    .About > h1 {
        font-size: 18px;
    }
    .About > p {
        font-size: 15px;
    }
}