body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.animate-bars-stroke {
  stroke-dasharray: 1257;
  stroke-dashoffset: 1257;
  animation: dash 3s linear forwards;
}

.animate-path {
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
  animation: dash 1.5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.Navbar {
  height: 45px;
  background-color: #323232;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 16%;

}
.Navbar a {
  color: white;
}
.Navbar a:hover {
  color: rgb(165, 165, 165);
  text-decoration: none;
}

.restaurant_form {

  margin: 30px;
}
.restaurant.container {
  border: 0.5px lightgray solid;
  border-radius: 5px;
  background-color:white;

}

.photo_container {
  border: 0.5px lightgray solid;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  
}

.slick-prev.removeFont:before {
  font-size: 0;
}
.slick-next.removeFont:before {
  font-size: 0;
}

.slick-prev > img {
  height: 30px;
}
.slick-next > img {
  height: 30px;
}

.placeData {
  padding: 0 20px;
  margin: 7%;
  text-align: end;

}
.photo_container .slick-dots {
  width: inherit;
}

/* .CreateRestaurantPage .backgroundImage {
  background: linear-gradient(rgb(126, 126, 126), rgb(172, 172, 172));
  top: 0;
  z-index: -1;
  position: fixed;
  width: 1280px;
  height: 800px;
} */
.CreateRestaurantPage {
  background: linear-gradient( rgb(126, 126, 126), rgb(175, 175 ,175));
  height: 120%;
}

.CreateRestaurantPage label {
  background-color: transparent;
  border: none;
  color: white;
}

.CreateRestaurantPage .chosen-container a {
  padding-left: 0;
  border: solid lightgreen 2px;
}

.restaurant_form > .submit {
  background-color: white;
}

.svg-background {
  /* background-image: url('/assets/images/background-svg.png'); */
  background: linear-gradient(rgb(207, 207, 207), rgb(65, 65, 65));
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* filter: grayscale(30%); */
  /* filter: brightness(100%) contrast(50%) grayscale(100%) hue-rotate(300deg); */
  
}

.SignUpPage form {
  margin: 60px;
}
.SignUpPage div {
  width: 70%;
}
.SignUpPage p {
  color: red;
  margin-bottom: 2px;
}

.SignInPage form {
  margin: 60px;
}
.SignInPage div {
  width: 70%;
}

#home_icon {
 filter: brightness(500%) contrast(500%);
 width: 20px;
}
#home_icon:hover {
  filter: grayscale(50%) brightness(80%);
}

.SearchRestaurantsPage .evalRestaurant{
  margin: 300px 100px;
}



@media only screen and (min-width: 900px) {
  
  .CreateRestaurantPage {
    
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  
  .restaurant_form {
    
    width: 60%;
  }
  
  .RenderRestaurantDetail {
    
    width: 40%;
    margin: 30px 30px 30px 0;
  }
  
  .photos {
    width: 100%;
    height: 240px;
  }
  .photo_container .slick-dots {
    width: 88%;
  }
  .photo_container .slick-dots li {
    margin: 0 4px;
  }

  .placeData {
    margin: 0;
    padding: 40px 20px;
  }
  
}






@media only screen and (min-width: 460px) and (max-width: 899px) {
  
  .photos {
    width: 100%;
    height: 300px;
  }
  
  .photo_container {
    padding: 30px;
    margin-top: 30px;
  }

  .RenderRestaurantDetail {
    display: flex;
    justify-content: center;
  }

  .slick-prev > img {
    width: 30px;
    height: 45px;
  }
  .slick-next > img {
    width: 30px;
    height: 45px;
  }
  .photo_container {
    width: 86%;
    margin: 7%;
  }
  
  .restaurant.container {
    padding-right: 0;
    padding-left: 0;
  }

}






@media only screen and (max-width: 459px) {

  .RenderRestaurantDetail {
    display: flex;
    justify-content: center;
  }

  .photo_container {
    margin-top: 30px;
    margin-left: 7%;
    width: 86%;
  }

  .photo_container .slick-dots li {
    margin: 0 3px;
  }
  .photos {
    width: 100%;
    height: 240px;
  }

  
}




#myVideo {
  z-index: -5;
  position: fixed;
  top:30px;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.HomePage .content {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 20%;
  height: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 15px;
  position: fixed;
  top: 700px;
  left: 100px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: transparent;
  color: gray;
}
