/*----------------------------SearchRestaurantsPage-----------------------*/

.SearchRestaurantsPage .evalRestaurant{
    margin: 20px 100px;
}

.chosen-container {
    width: 100%;
}

.evalRestaurant > .btn[type='submit'] {
    width: 100%;
    margin-top: 2em;
}