/*-----------------------------------LandingSlider-----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Baloo');

.LandingSlider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
    background-color: rgb(251, 246, 242);
}

.slides > div {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transform: scale(1.14, 1.14);
    /* transition: transform 0, opacity 0; */
    opacity: 0;
    transition: transform 5000ms, opacity 5000ms;
}

.slick-current > div > div > div {
    transform: scale(1, 1);
    opacity: 1;
    transition: transform 5000ms, opacity 5000ms;
}

#site-name {
    position: fixed;
    top: 280px;
    left: 480px;
    font-size: 120px;
    font-family: 'Baloo', cursive; 
    color: white;
    z-index: 102;
}
#site-name > span {
    opacity: 0;
    transform: scale(1.9, 1.9);
    display: inline-block;
}

#site-name.show > span{
    opacity: 1;
    transform: scale(1, 1);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

#scroll-open {
    position: fixed;
    left: 630px;
    top: 665px;
    z-index: 102;
    width: 100px;
    text-align: center;
}
#scroll-open > a {
    color: white;
    text-decoration: none;
}

#scroll-arrow {
    opacity: 0;
    transform: rotateX(180deg) translateY(20px) scaleX(2.5);
    transition: transform 1.3s ease-in-out, opacity 1.3s ease-in-out;
}

#scroll-arrow.scroll-animate {
    transform: rotateX(180deg) scaleX(2.5) translateY(0);
    opacity: 1;
    transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}

#scroll-arrow::before {
    content: '\21ea';
    font-size: 34px;
}


@media only screen and (max-width: 459px) {
    #site-name {
        top: 280px;
        left: 80px;
        font-size:70px;
    }
}