/*-----------------------------------LandingSlider-----------------------------*/
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid|Londrina+Outline|Londrina+Shadow');

.LandingSlider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
    background-color: rgb(251, 246, 242);
}

.slides > div {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transform: scale(1.14, 1.14);
    /* transition: transform 0, opacity 0; */
    opacity: 0;
    transition: transform 5000ms, opacity 5000ms;
}

.slick-current > div > div > div {
    transform: scale(1, 1);
    opacity: 1;
    transition: transform 5000ms, opacity 5000ms;
}

#site-name {
    position: fixed;
    top: 40vh;
    left: 37vw;
    font-size: 140px;
    font-family: 'Londrina Shadow', cursive; 
    color: white;
    z-index: 102;
}
#site-name > span {
    opacity: 0;
    transform: scale(1.9, 1.9);
    display: inline-block;
}

#site-name.show > span{
    opacity: 1;
    transform: scale(1, 1);
    transition: opacity .5s ease-out, transform .5s ease-out;
}

#scroll-open {
    position: fixed;
    top: 87vh;
    left: 47vw;
    z-index: 102;
    width: 100px;
    text-align: center;
}
#scroll-open > a {
    color: white;
    text-decoration: none;
}

#scroll-arrow {
    opacity: 0;
    -webkit-transform: rotateX(180deg) translateY(20px) scaleX(2.5);
    transform: rotateX(180deg) translateY(20px) scaleX(2.5);
    transition: transform 1.3s ease-in-out, opacity 1.3s ease-in-out;
}

#scroll-arrow.scroll-animate {
    -webkit-transform: rotateX(180deg) scaleX(2.5) translateY(0);
    transform: rotateX(180deg) scaleX(2.5) translateY(0);
    opacity: 1;
    transition: transform 1.3s ease-out, opacity 1.3s ease-out;
}

#scroll-arrow::before {
    content: '\21ea';
    font-size: 34px;
}

@media only screen and (max-width: 352px) {
    #site-name {
        font-size: 70px;
        left: 21vw;
    }

    #scroll-open {
        left: 34vw;
    }

    #scroll-arrow::before {
        font-size: 27px;
    }
}

@media only screen and (min-width: 353px) and (max-width: 385px) {
    #site-name {
        font-size: 90px;
        left: 20vw;
    }

    #scroll-open {
        left: 37vw;
    }

    #scroll-arrow::before {
        font-size: 30px;
    }
}

@media only screen and (min-width: 386px) and (max-width: 628px) {
    #site-name {
        font-size: 100px;
        left: 22vw;
    }
    
    #scroll-open {
        left: 40vw;
    }

}

@media only screen and (min-width: 638px) and (max-width: 998px) {
    #site-name {
        left: 28vw;
    }

    #scroll-open {
        left: 43vw;
    }
}