/*------------------------------NavBar--------------------------*/
@import url('https://fonts.googleapis.com/css?family=Baloo|Rubik|Dosis|Monoton|Londrina+Outline|Londrina+Shadow|Londrina+Sketch');

.Navbar {
    height: 0;
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;  
}
.Navbar > div {
    width: 30%;
    text-align: end;
    cursor: pointer;
}

.Navbar * {
    color: white;
}

.Navbar > div *:hover {
    color: rgb(165, 165, 165);
    text-decoration: none;
}

.Navbar > div:nth-child(2){
    text-align: center;
}

#logo {
    font-family: 'Londrina Outline', cursive;
    margin: 0;
}

.Navbar > .signIn {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

.Navbar > .signIn > p {
    margin: 0;
}

.Navbar > .signIn > p::before {
    content: 'signed in as ';
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
}

#nav-toggle {
    width: 19%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .Navbar > .signIn > p::before {
        content: '';
    }
}

@media only screen and (min-width: 1400px) {
    .Navbar > .signIn {
        font-size: 25px;
    }
}
