/*------------------------------NavBar--------------------------*/
@import url('https://fonts.googleapis.com/css?family=Baloo|Rubik|Dosis|Monoton|Londrina+Outline|Londrina+Shadow|Londrina+Sketch');

.Navbar {
    height: 0;
    background-color: #323232;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;  
}
.Navbar > * {
    width: 131px;
}

.Navbar * {
    color: white;
    font-family: 'Londrina Outline', cursive;
    margin: 0
}

.Navbar .signIn {
    text-align: end;
}

.Navbar a {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.Navbar a:hover {
    color: rgb(165, 165, 165);
    text-decoration: none;
}
.Navbar p:hover {
    color: rgb(165, 165, 165);
}
.Navbar h1:hover {
    color: rgb(165, 165, 165);
}

#user_name {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
}

#user_name > small {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
}

#nav-toggle {
    cursor: pointer;
}
